h3{
    font-style:unset;
}
div{
    background-color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px
}
*{
    margin:0;

}